

@font-face {
font-family: 'Adventure';
src: url(../fonts/Adventure.otf);
} 

@font-face {
	font-family: 'BADABOOM';
	src: url(../fonts/BADABOOM.TTF);
} 

@font-face {
	font-family: 'Heroes Legend';
	src: url(../fonts/Heroes\ Legend.ttf);
} 
.flex {
   min-height: 100vh;
   display: flex;
   flex-wrap: wrap;
}

nav {
    font-family: "Adventure", sans-serif;
    font-size: 50px!important;
    text-shadow: 4px 4px 4px black!important;
   }

#select {
   font-family: "Heroes Legend", sans-serif;
   padding-top: 10px;
   text-shadow: 4px 4px 4px black!important;
}
 
#buttons-view {
   font-size: 25px;
   text-align: center;
   text-shadow: 1px 1px 1px black;
   box-shadow: 4px 4px 4px black;
}
#add-superhero {
   font-family: "Adventure", sans-serif;
   text-shadow: 1px 1px 1px black;
}

 .hero{
    font-family: "Adventure", sans-serif;
 }

 #images {
    padding-top: 5px;
 }

 .textInfo{
    font-family: "Adventure", sans-serif;
 }

 /*
    These rules take effect when the browser's width
    is either 910px or less.
  */
  @media screen and (max-width: 910px) {
   nav   { 
       text-align: left!important;
         }

    
 